# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
OspfAreaAggregateEntryConfigdbif.go
OspfAreaEntryConfigdbif.go
OspfAreaEntryStatedbif.go
OspfAreaLsaCountEntryStatedbif.go
OspfAreaRangeEntryConfigdbif.go
OspfAsLsdbEntryStatedbif.go
OspfExtLsdbEntryStatedbif.go
OspfGlobalConfigdbif.go
OspfGlobalStatedbif.go
OspfHostEntryConfigdbif.go
OspfHostEntryStatedbif.go
OspfIfEntryConfigdbif.go
OspfIfEntryStatedbif.go
OspfIfMetricEntryConfigdbif.go
OspfLocalLsdbEntryStatedbif.go
OspfLsdbEntryStatedbif.go
OspfNbrEntryConfigdbif.go
OspfNbrEntryStatedbif.go
OspfStubAreaEntryConfigdbif.go
OspfVirtIfEntryConfigdbif.go
OspfVirtLocalLsdbEntryStatedbif.go
OspfVirtNbrEntryStatedbif.go
genObjectConfig.json
ospf.go
ospf_func.go
